body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 700px;
}

@media (min-width: 300px) {
  body {
    width: 100%;
  }
}

@media (min-width: 700px) {
  body {
    width: 700px;
  }
}

@media (min-width: 900px) {
  body {
    width: 850px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1 0 auto;
  margin: 20px 0;
}

footer {
  flex-shrink: 0;
  padding: 20px;
}
