body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root > header {
  margin: auto;
}

.ui.card:hover {
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}
